<title>密码重置 - 云屯务集</title>
<div class="bg_div">
  <div></div>
</div>
<div class="user_login">
  <div class="login_div">
    <h2>密码重置</h2>
    <div class="loading" style="display: none;">
      <img src="../../../assets/images/loading.gif" alt="">
    </div>
    <div class="input_div_div">
      <div class="form-group input_div">
        <input type="text" class="form-control" id="usernameInput" #phone placeholder="手机号码" #phone onfocus="this.placeholder=''" onblur="this.placeholder='手机号码'">
      </div>
      <div class="form-group code_div">
        <input type="text" class="form-control" id="codeInput" placeholder="验证码" #code onfocus="this.placeholder=''" onblur="this.placeholder='验证码'">
        <button class="btn code_btn get_code_btn" (click)="get_code(phone.value)">获取验证码</button>
      </div>
      <button class="btn login_btn" (click)="reset_phone(phone.value,code.value)">下一步</button>
      <div class="any_do">
        <span routerLink="/login">我要登录</span>
        <span>|</span>
        <span routerLink="/register">我要注册</span>
        <span class="is_login" *ngIf="is_login">|</span>
        <span class="is_login"(click)="to_profile()" *ngIf="is_login">个人主页</span>
      </div>
    </div>
  </div>
</div>